body {
    background-color: rgba(95, 94, 94, 0.301);
    font-size: 18px;
    font-family: Arial;
}

h2 {
    text-align: center;
    text-transform: uppercase;
    text-shadow: 2px 2px gray;   
}

a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: 1.1em;
}

a:hover {
    text-shadow: 1px 1px white;
}

ul li:hover {
    font-size: 1.08em;
    width: auto;
    height: auto;
    background-color: rgba(73, 72, 72, 0.363);
}